body{
  /* background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/89/94/D12Wod.jpg"); */
  /* background: rgb(106,54,49); */ /*red*/
  background: rgb(15,101,103); /*green*/
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
  color: rgb(255,238,221);
}
#myNavbar{
  background: rgb(214,203,186) !important;
}
.navbar-brand{
  color: rgb(106,54,49) !important;
  font-size: 25px;
}
.nav-link{
  color: rgb(106,54,49) !important;
  font-size: 20px !important;
}
.nav-item{
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
}
#homeContainer{
  /* height: 100vh; */
  padding-top: 10vh;
}
#profileImage{
  border: 10px solid rgb(214,203,186);
}
#homeH2{
  padding-top: 10vh;
  margin-bottom: 50px;
}
.sectionTitles{
  font-size: 55px;
  background: rgb(106,54,49);
  border-radius: 5px;
  height: 10vh;
  display: flex;
  justify-content: center;
}
/* #animeImg{
  width: 300px;
} */
#myWorkContainer{
  /* height: 100vh; */
}
.projectImages{
  border: 10px solid rgb(214,203,186);
}
.carousel-caption{
  background: rgba(15,21,22,.9);
  border-radius: 10px;
}
#aboutMeContainer{
  /* height: 100vh; */
}
#carouselExampleControls{
  /* padding-top: 15vh; */
  margin-top: 50px;
  margin-bottom: 50px;
}
#experienceHeader{
  text-align: center;
  padding-top: 5vh;
  font-weight: bold;
  text-decoration: underline;
}
#skillsHeader{
  text-align: center;
  padding-top: 5vh;
  font-weight: bold;
  text-decoration: underline;
}
#skillsRow{
  padding-top: 5vh;
}
.skills{
  background: rgb(106,54,49);
  border-radius: 10px;
}
@media only screen and (max-width: 465px) {
  #profileImage{
    height: 250px;
  }
}
@media only screen and (max-width: 465px){
  #gaLogo{
    height: 250px;
  }
}
